@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
body{
    font-family: "Hind Siliguri", serif;
}
.popular-doctors{
    display: flex;
    justify-content: space-between;
    color: black;
    margin-top: 5px;
    font-weight: 500;
}

.doctor-info img{
   height: 90px;
   width: 90px;
   border-radius: 5px ;
   /* border: 1px solid #000; */
}
.doctor-info p{
    font-size: 10px;
    margin-top: 4px;
    margin-left: 6px;
}
.doctor-name h2{
    font-size: 15px;
    font-weight: bold;
}
.doctor-name p{
    font-size: 8px;   
}


/* ######### Settings Page About Section ########## */

